/*Bootstrap custom css*/
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}


/* Style for canvas and q-table*/
#q_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;


}

#q_table td, #q_table th {
    border: 1px solid #ddd;
    padding: 8px;

}

#q_table tr:nth-child(even){background-color: #f2f2f2;}

#q_table tr:hover {background-color: #ddd;}

#q_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
canvas{
    width: 100%;
    height: auto;

}

/* Bootstrap custom css for form*/
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

div#loading {
    margin: 0 auto;
    width: 100px;
    height: 30px;
    display: none;
    background: url(../gif/ajax-loader.gif) no-repeat;
    cursor: wait;
}
#graph {
    height: 100%;
    width: 100%;
}