<!doctype html>
<html>
<head>
<title>Send javascript with template demo</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <style>
        #customers {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 50%;
            float: left;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even){background-color: #f2f2f2;}

        #customers tr:hover {background-color: #ddd;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }
    </style>
</head>
<body>

<form action="/test" method="post">
    Epsilon: <input type="number" name="epsilon" min="0" max="1" step=".01" value=".09"> </br>
    Gamma: <input type="number" name="gamma" min="0" max="1" step=".01" value=".8"> </br>
    Number of Episodes: <input type="number" name="episode" min="0" max="2000" step="1" value="100"> </br>
    Max number of steps: <input type="number" name="max_steps" min="0" max="100" step="5" value="10"> </br>
    Per Step cost: <input type="text" name="per_step_cost"> </br>
    Goal Reward: <input type="text" name="goal_reward"> </br>
    <input type="submit" name= "form">
</form>
<table id="customers">
    <caption>Q-TABLE</caption>
    <tr>
        <th>State</th>
        <th>UP</th>
        <th>Down</th>
        <th>Left</th>
        <th>Right</th>
    </tr>

</table>
<canvas id="canvas" width="500px" height="500px" style="float: right;"></canvas>
<div id="div1"></div>

<div id="dialog"></div>
</body>
<script>



    function updateFunc() {
        // Box width
        var bw = 400;
        // Box height
        var bh = 400;
        col = 5;
        row = 4;
        gridX = bw/row;
        gridY = bh/col;
        // Padding
        var p = 10;

        var canvas = document.getElementById("canvas");
        var context = canvas.getContext("2d");
        //context.transform(1, 0, 0, -1, 0, canvas.height)
        function drawBoard(){
            for (var x = 0; x <= bw; x += gridX) {
                context.moveTo(0.5 + x + p, p);
                context.lineTo(0.5 + x + p, bh + p);
            }


            for (var x = 0; x <= bh ; x += gridY) {
                context.moveTo(p, 0.5 + x + p);
                context.lineTo(bw + p, 0.5 + x + p);
            }

            context.strokeStyle = "black";
            context.stroke();
        }



        function drawShape(x , y,colour){
            context.strokeRect(p + gridX,p,gridX,gridY);
            context.fillStyle = colour;
            context.fillRect(p + gridX * x,p+ gridY * y,gridX,gridY);
        }
        // AJAX in the data file
        $.ajax({
            type: "GET",
            url: "static/Dataframe.csv",
            dataType: "text",
            cache: false,
            async: true,
            success: function(data) {
                var data =data;
                    result = data.split(/\r\n|\n|\r/).reduce((r, s) => {
                        var array = s.split(',').map(Number);
                        if (!array[0]) {
                            r.push([]);
                        }
                        r[r.length - 1].push(...array);
                        return r;
                    }, []);
                    var test5;
                for(let i=0; i<result.length; i++){

                    window.setTimeout(function () {
                        for(j=0; j< (result[i].length-1) / 5; j++){
                            test5 = result[i].slice(j * 5, (j + 1) * 5);
                            if(test5[0]==0){
                                $('.data').remove();
                            }
                            $('table').append('<tr class="data"><td>'+test5[0] + '</td><td>'+test5[1] + '</td></td><td>'+test5[2] + '</td></td><td>'+test5[3] + '</td></td><td>'+test5[4] + '</td></tr>');

                        }



                    },i * 50);



                    }


            }
        });




        $.ajax({

            url: "/static/test.txt",
            dataType: "text",
            cache: false,
            async: true,
            success: function (data) {
                var arr =   data.split(/,/g).slice(0);

                    for(let i=0; i<arr.length -2; i+=2){
                        window.setTimeout(function () {
                        x1 = arr[i];
                        y1 = arr[i+1];
                            context.clearRect(0, 0, 500, 500);

                            drawBoard();
                            drawShape(3,  0, 'green');
                            drawShape(3, 1, 'red');
                            drawShape(y1, x1,'yellow');
                          //  $("body").append("Pos: " + x1 + "  "+y1);
                        }, i * 50);
                    }

                console.log(arr);
               // $("#div1").text(data);
            }
        });



    }





updateFunc();




</script>
</html>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="canvas" width="500px" height="500px" style="float: right;"></canvas>
<p>This is the latest output: <span id="latest"></span></p>
<p>This is all the output:</p>
<ul id="output"></ul>

</body>

<script>

    // Box width
    var bw = 400;
    // Box height
    var bh = 400;
    col = 3;
    row = 4;
    gridX = bh/row;
    gridY = bw/col;
    // Padding
    var p = 10;

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    function drawBoard(){
        for (var x = 0; x <= bw; x += gridX) {
            context.moveTo(0.5 + x + p, p);
            context.lineTo(0.5 + x + p, bh + p);
        }


        for (var x = 0; x <= bh ; x += gridY) {
            context.moveTo(p, 0.5 + x + p);
            context.lineTo(bw + p, 0.5 + x + p);
        }

        context.strokeStyle = "black";
        context.stroke();
    }

    drawBoard();
    drawShape(3, 1, 'red');
    drawShape(3, 0, 'green');
    drawShape(0,2, 'yellow');
function drawShape(x , y,colour){
    context.strokeRect(p + gridX,p,gridX,gridY);
    context.fillStyle = colour;
    context.fillRect(p + gridX * x,p+ gridY * y,gridX,gridY);
}
for(let i = 0; i< 4;i++) {

        setTimeout(function () {

            context.clearRect(0, 0, 500, 500);
            drawBoard();
            drawShape(3, 0, 'green');
            drawShape(3, 1, 'red');
            drawShape(i, 0, 'yellow');

        }, i * 1000);
}

   var latest = document.getElementById('latest');
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{ url_for('stream') }}');
    xhr.send();
    var position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
        var messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            latest.textContent = value;  // update the latest value in place
            // build and append a new item to a list to log all output
            var item = document.createElement('li');
           item.textContent = value;
            output.appendChild(item);
        });
        position = messages.length - 1;
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
            clearInterval(timer);
            latest.textContent = 'Done';
        }
    }, 100);



</script>
</html>
-->