<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="canvas" width="500" height="500" style="float: right;"></canvas>
<p>This is the latest output: <span id="latest"></span></p>
<p>This is all the output:</p>
<ul id="output"></ul>

</body>

<script>

    var canvas=document.getElementById("canvas");
    var ctxBg=canvas.getContext("2d");
    var ctxWall=canvas.getContext("2d");
    var canvasWidth=canvas.width;
    var canvasHeight=canvas.height;

    var colCount=4;
    var rowCount=3;
    var cellSize=100;

    var walls=[
        {direction:'vertical',startY:0,endY:0,X:3,fill:'green'},
        {direction:'horizontal',startX:0,endX:0,Y:2,fill:'yellow'},
        {direction:'vertical',startY:1,endY:1,X:3,fill:'red'}
    ];

    drawGrid();
    drawAllWalls(walls);

    function drawAllWalls(walls){
        for(var i=0;i<walls.length;i++){
            var w=walls[i];
            ctxWall.fillStyle=w.fill;
            if(w.direction=='horizontal'){
                for(var x=w.startX;x<=w.endX;x++){
                    ctxWall.fillRect(x*cellSize,w.Y*cellSize,cellSize,cellSize)
                }
            }else{
                for(var y=w.startY;y<=w.endY;y++){
                    ctxWall.fillRect(w.X*cellSize,y*cellSize,cellSize,cellSize)
                    function timeThree(){
                        ctxWall.fillRect(w.X*cellSize,y*cellSize,cellSize,cellSize)
                    }

                }
                setTimeout(timeThree,3000);
            }
        }
    }




    function drawGrid(){
        ctxBg.beginPath();
        for(var x=0;x<colCount+1;x++){
            ctxBg.moveTo(x*cellSize,0);
            ctxBg.lineTo(x*cellSize,rowCount*cellSize);
        }
        for(var y=0;y<rowCount+1;y++){
            ctxBg.moveTo(0,y*cellSize,0);
            ctxBg.lineTo(colCount*cellSize,y*cellSize);
        }
        ctxBg.stroke();
    }

   var latest = document.getElementById('latest');
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{{ url_for('stream') }}');
    xhr.send();
    var position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
        var messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            latest.textContent = value;  // update the latest value in place
            // build and append a new item to a list to log all output
            var item = document.createElement('li');
           item.textContent = value;
            output.appendChild(item);
        });
        position = messages.length - 1;
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
            clearInterval(timer);
            latest.textContent = 'Done';
        }
    }, 10000);



</script>
</html>