<!doctype html>
<html>
<head>
<title>Send javascript with template demo</title>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/static/main.js"></script>
</head>
<body>
<canvas id="canvas" width="500px" height="500px" style="float: right;"></canvas>
<div id="div1"></div>


</body>
<script>

    alertFunc();
    // Box width
    var bw = 400;
    // Box height
    var bh = 400;
    col = 3;
    row = 4;
    gridX = bh/row;
    gridY = bw/col;
    // Padding
    var p = 10;

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    function drawBoard(){
        for (var x = 0; x <= bw; x += gridX) {
            context.moveTo(0.5 + x + p, p);
            context.lineTo(0.5 + x + p, bh + p);
        }


        for (var x = 0; x <= bh ; x += gridY) {
            context.moveTo(p, 0.5 + x + p);
            context.lineTo(bw + p, 0.5 + x + p);
        }

        context.strokeStyle = "black";
        context.stroke();
    }



    function drawShape(x , y,colour){
        context.strokeRect(p + gridX,p,gridX,gridY);
        context.fillStyle = colour;
        context.fillRect(p + gridX * x,p+ gridY * y,gridX,gridY);
    }
</script>

{% for i in data: %}
    <script>
        var m  = {{ i }};


        setTimeout(function () {

            context.clearRect(0, 0, 500, 500);
            drawBoard();
            drawShape(3, 0, 'green');
            drawShape(3, 1, 'red');
            drawShape(m, 0, 'yellow');

        }, m );




    </script>
{% endfor %}
</html>
<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

    </script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<canvas id="canvas" width="500px" height="500px" style="float: right;"></canvas>
<p>This is the latest output: <span id="latest"></span></p>
<p>This is all the output:</p>
<ul id="output"></ul>

</body>

<script>

    // Box width
    var bw = 400;
    // Box height
    var bh = 400;
    col = 3;
    row = 4;
    gridX = bh/row;
    gridY = bw/col;
    // Padding
    var p = 10;

    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    function drawBoard(){
        for (var x = 0; x <= bw; x += gridX) {
            context.moveTo(0.5 + x + p, p);
            context.lineTo(0.5 + x + p, bh + p);
        }


        for (var x = 0; x <= bh ; x += gridY) {
            context.moveTo(p, 0.5 + x + p);
            context.lineTo(bw + p, 0.5 + x + p);
        }

        context.strokeStyle = "black";
        context.stroke();
    }

    drawBoard();
    drawShape(3, 1, 'red');
    drawShape(3, 0, 'green');
    drawShape(0,2, 'yellow');
function drawShape(x , y,colour){
    context.strokeRect(p + gridX,p,gridX,gridY);
    context.fillStyle = colour;
    context.fillRect(p + gridX * x,p+ gridY * y,gridX,gridY);
}
for(let i = 0; i< 4;i++) {

        setTimeout(function () {

            context.clearRect(0, 0, 500, 500);
            drawBoard();
            drawShape(3, 0, 'green');
            drawShape(3, 1, 'red');
            drawShape(i, 0, 'yellow');

        }, i * 1000);
}

   var latest = document.getElementById('latest');
    var output = document.getElementById('output');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', '{ url_for('stream') }}');
    xhr.send();
    var position = 0;

    function handleNewData() {
        // the response text include the entire response so far
        // split the messages, then take the messages that haven't been handled yet
        // position tracks how many messages have been handled
        // messages end with a newline, so split will always show one extra empty message at the end
        var messages = xhr.responseText.split('\n');
        messages.slice(position, -1).forEach(function(value) {
            latest.textContent = value;  // update the latest value in place
            // build and append a new item to a list to log all output
            var item = document.createElement('li');
           item.textContent = value;
            output.appendChild(item);
        });
        position = messages.length - 1;
    }

    var timer;
    timer = setInterval(function() {
        // check the response for new data
        handleNewData();
        // stop checking once the response has ended
        if (xhr.readyState == XMLHttpRequest.DONE) {
            clearInterval(timer);
            latest.textContent = 'Done';
        }
    }, 100);



</script>
</html>
-->